

.header {
    background-image: url("../img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.col-lg-4 {
    font-size: 1rem;
    text-align: center;
    align-items: center;
    padding-top: 3rem;

}

.qws {
    font-size: 5rem;
    color: #3742fa;
}

.container {
    padding: 8rem;

}

.icons {
    background-color: #f5f6fa;
    height: 70vh;
}

.img {
    height: 28.264rem;
    width: 42.3rem;

}

.line {
    align-items: center;
    text-align: center;
    
    font-size: 2rem;

}
.line1{
    align-items: center;
    text-align: center;
    padding-top: 11rem;
}

.lines {
    text-align: center;
    align-items: center;

    font-size: 1.2rem;
}

.rounded-circle {
    font-size: 5rem;
}

.testimonials .rounded-circle {
    max-width: 12rem;
    text-align: center;

}

.star {
    text-align: center;
    
}

.rounded-circle {
    max-width: 12rem;
    text-align: center;
}

.testimonials {
    text-align: center;
    background-color: rgba(241, 242, 242, 1.1);
    height: 85vh;
    align-content: center;

}


.containe-fluid .note {
    text-align: center;
}

.end {
    font-size: 2.5rem;

}

.scroll-to-top {

    color: rgba(55, 66, 250, 1.0);
    font-size: 2.5rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transform: translateY(40px);
}

* .head1 {
    padding-top: 8.5rem;
    color: #f5f6fa;
    font-size: 3.5rem;
}

.background {
    text-align: center;
}

.ff {
    text-align: center;
    width: 25rem;
}

.note {
    text-align: center;
    padding-top: 9rem;
    color: #f5f6fa;
}


.signup {
    background-image: url("../img/bg-masthead.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.call-for-action {
    height: 20vh;
    text-align: center;
    align-content: center;
}
 .container-fluid p-0{
    width: 100%;
 }


